@import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

*{
    padding: 0;
    margin: 0;
}

.DatesLaunch{
    display: flex;
    justify-content: space-between;
}
.redLaunch{
    color: red;
    font-weight: bolder !important;
    font-family: 'Acme', sans-serif !important;
}
.greenLaunch{
    color: green;
    font-weight: bolder  !important;
    font-family: 'Acme', sans-serif !important;
}
.grayLaunch{
    color: #c0c0c0;
    font-weight: bolder;
    font-family: 'Acme', sans-serif !important;
}
.titleLaunch{
    font-family: 'Vollkorn', serif !important;
    font-weight: bold !important;
}
.upcomingLaunch{
    display: flex;
    justify-content: space-between;
    margin-bottom: 7px !important;
    margin-top: 7px;
}
.ContainerLaunch{
    display: flex !important;
    justify-content: center  !important;
    flex-wrap: wrap !important;
}
.detailLaunch{
    height: 70px !important;
}
.rootLaunch{
        box-shadow: 12px 14px 11px 0px #CCD1D1,
         1px -1px 0px 0px #CCD1D1,
         0px 1px 6px 0px #CCD1D1 !important;
        width:  30% !important;
        margin: 10px !important;
        border: 1px  solid #85929E
}

.ButtonLaunch{
    text-decoration-line: none !important;
}



@media screen and (max-width: 680px) {
    .rootLaunch{
        width:  95% !important;
    }

  }